fastapi[standard]
passlib[bcrypt]
pyjwt[crypto]
colorlog
aiosmtplib
pydantic-settings
aiofiles
beanie
motor
mcp>=1.28.0,<2.0.0
langchain
langchain-openai
langchain-google-genai
langchain-community
langchain-groq
