fastapi[standard]
passlib[bcrypt]
pyjwt[crypto]
colorlog
aiosmtplib
pydantic-settings
aiofiles
beanie
motor
mcp
langchain
langchain-openai
langchain-google-genai
langchain-community
langchain-groq
